body{
    background-color: whitesmoke;
}

header{
    text-align: left;
    margin-left: 18px;
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    color: #949494;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
}

.window {
    width: 100%;
}

img{
    position: absolute;
    top: 10vh;
    left: 2vw; 
    width: 3000px;
}

img:hover{
    cursor: -webkit-zoom-in;
}